@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	font-family: 'Zen Kurenaido', sans-serif;
}

body {
	overflow-x: hidden;
}

header {
	margin : 0 auto;
	width : 1024px;
	height : 120px;
}

header > a {
	margin : 0 auto;
	width : 130px;
	height : 120px;
	padding-top : 40px;
	color : black;
	text-decoration : none;
	text-align : center;
}

header > a > h2 {
	margin : 0 auto;
	width : 130px;
	height : 120px;
	text-align : center;
	font-size : 50px;
	line-height : 170px;
	
	font-family: 'Zen Kurenaido', sans-serif;
}

.account {
	position : relative;
	bottom : 28px;
	left : 892px;
	
	color : black;
	text-decoration : none;
}

footer {
	margin : 0 auto;
	width : 1024px;
	height : 100px;
	background-color : #363636;
	
	display : flex;
	flex-direction : row;
}

.footer-left {
	margin-left : 7px;
	width : 50px;
	height : 100%;
	background-color : #FFFFFF;
	
	display : flex;
	flex-direction : column;
}

.footer-left > a {
	margin : 5px auto;
	width : 40px;
	height : 40px;
	border-radius : 5px;
}

.footer-left > a > img {
	width : 40px;
	height : 40px;
}

.footer-right {
	padding-left : 20px;
}

.footer-right > p {
	width : 100%;
	color : white;
}

section {
	margin : 0 auto;
	margin-top : 30px;
	width : 1024px;
	height : 500px;
	background-color : #efefef;
	border-top-left-radius : 20px;
	border-top-right-radius : 20px;
}